  <div class="center hero-unit">
     <h1>Witamy w <i>Your Bunch</i></h1>

     <h2>
       To jest strona główna serwisu społecznościowego, który jest pracą inżynierską:<br> Kamila Pludry. <br>
       Promotorem pracy inżynierskiej jest: <br> dr inż. Krzysztof Bucholc.
     </h2>

     <%= link_to "Zarejestruj się!", zarejestruj_path, class: "btn btn-large btn-primary" %>
    <br><br>
    <%= link_to image_tag("http://studioczapla.boo.pl/YOUR_BUNCH/zarajestruj_sie.png", alt: "Zarajestruj sie"), zarejestruj_path %>

   </div>

