<% provide(:title, 'Kontakt') %>

    <h1>Kontakt</h1>
        <p>
             <b>
            <br> <u> Kontakt z autorem serwisu Your Bunch:   </u>  <br>       <br>
              E-mail: pludra@gmail.com     <br>
              Telefon: +48 519 431 027

             </b>
        </p>