<% provide(:title, 'O nas') %>

<h1>O nas</h1>
    <p>

 <b>
Serwis społecznościowy „Your Bunch” jest pracą inżynierską, którego autorem jest student Politechniki Poznańskiej Kamil Pludra.     <br><br>
Promotorem pracy inżynierskiej jest:
       <a href="http://www.cie.put.poznan.pl/index.php?option=com_comprofiler&task=userProfile&user=118&lang=pl">dr inż. Krzysztof Bucholc</a>.
     <br><br>
Temat pracy inżynierskiej: Serwis społecznościowy z wykorzystaniem Ruby on Rails.<br><br>
Inspiracją do napisania serwisu społecznościowego jest dynamicznie rozwijająca się moda na różnego rodzaje serwisy i portale internetowe. <br>
      Utworzenie serwisu dało autorowi pracy nowe umiejętności takie jak:  <br>
      </b>
<ul>poznanie frameworka Ruby on Rails, który umożliwia pisanie internetowych serwisów,</ul>
<ul>umiejętność projektowania grafiki,</ul>
<ul>wyostrzenie zmysły artystycznego przy doborze kolorów i tworzeniu grafiki serwisu,</ul>
<ul>umiejętność obsługi bazy danych SQL;</ul>
<ul>poznanie nowych technologi:</ul>
<ul>  <ul>HTML5 - HyperText Markup Language</ul>
<ul>CSS3 - Cascading Style Sheets</ul>
<ul>AJAX - Asynchronous JavaScript and XML.</ul>
</ul>

<br>
<b>
Praca miała charter badawczy aby poznać nowe technologie, które nie były przedstawione w programie studiów.
</b>

<br><br>

Celem pracy dyplomowej inżynierskiej jest napisanie serwisu społecznościowego, który wykorzystuje framework Ruby on Rails. Serwis otrzymał nazwę „Your Bunch”, co po polsku oznacza twoja grupa lub twoja paczka przyjaciół. Serwis wykorzystuje wiele technologii takich jak HTML 5 (HyperText Markup Language), CSS 3 (Cascading Style Sheets), AJAX (Asynchronous JavaScript and XML). Główne działanie jest zapewnione dzięki technologii Rails, która jest środowiskiem do tworzenia aplikacji internetowych opartych o bazy danych zgodnie ze wzorcem MVC (Model-View-Controller). Zintegrowanym środowiskiem programistycznym, na którym był pisany serwis był program Ruby Mine 4.5, który był zainstalowany na systemie operacyjnym Ubuntu 12.04.  Serwis umożliwia zarejestrowanie się i zalogowanie jako nowy użytkownik. Każdy użytkownik ma swój panel konta, w którym może zmienić swoje dane osobowe, hasło, obraz jak również obejrzeć swój profil. Ideą serwisu jest to, że każdy użytkownik jest blogerem i prowadzi swój blog (dziennik sieciowy), na którym może przedstawiać w formie wiadomości tekstowej co zechce  np. swoje przemyślenia, czy rady dla innych. Inni użytkownicy jeśli są zainteresowani treścią wybranej osoby mogą obserwować jej wpisy na blogu, co wiąże się z wyświetlaniem wiadomości obserwowanej osoby na stronie głównej profilu obserwatora. Dzięki tej opcji żadna wiadomość obserwowanej osoby nie umknie obserwatorowi. Każdy użytkownik może obserwować wiadomości wielu blogerów jak również może być obserwowany przez inne osoby. Motywuje to użytkowników serwisu to pisania ciekawych wiadomości, które mogą być pamiętnikiem dla samego autora, a cennymi radami dla czytelników.

</p>
