<% provide(:title, 'O nas') %>

<h1>O nas</h1>
    <p>

 <b>
Serwis społecznościowy „Your Bunch” jest pracą inżynierską, którego autorem jest student Politechniki Poznańskiej Kamil Pludra.     <br><br>
Promotorem pracy inżynierskiej jest:
       <a href="http://www.cie.put.poznan.pl/index.php?option=com_comprofiler&task=userProfile&user=118&lang=pl">dr inż. Krzysztof Bucholc</a>.
     <br><br>
Temat pracy inżynierskiej: Serwis społecznościowy z wykorzystaniem Ruby on Rails.<br><br>
Inspiracją do napisania serwisu społecznościowego jest dynamicznie rozwijająca się moda na różnego rodzaje serwisy i portale internetowe. <br>
      Utworzenie serwisu dało autorowi pracy nowe umiejętności takie jak:  <br>
      </b>
<ul>poznanie frameworka Ruby on Rails, który umożliwia pisanie internetowych serwisów,</ul>
<ul>umiejętność projektowania grafiki,</ul>
<ul>wyostrzenie zmysły artystycznego przy doborze kolorów i tworzeniu grafiki serwisu,</ul>
<ul>umiejętność obsługi bazy danych SQL;</ul>
<ul>poznanie nowych technologi:</ul>
<ul>  <ul>HTML5 - HyperText Markup Language</ul>
<ul>CSS3 - Cascading Style Sheets</ul>
<ul>AJAX - Asynchronous JavaScript and XML.</ul>
</ul>

<br>
<b>
Praca miała charter badawczy aby poznać nowe technologie, które nie były przedstawione w programie studiów.
</b>

    </p>
