<% provide(:title, 'Pomoc') %>

<h1>Pomoc</h1>
  <p>
     <b>
          <br>
           Jeśli masz problemy z obsługą serwisu Your Bunch znajdź dotyczący Cię temat:
          <br><br>

          <u> Zarejestruj się!</u>  </b>
          <br>
       Aby rozpocząć korzystanie z serwisu Your Bunch należy się zarejestrować podając:
       <br>
             <ul>
                Imię i nazwisko
             </ul>
             <ul>
             Twój aktualny adres e-mail, z którego korzystasz. Nie wysyłamy na Twój adres spamu
             </ul>
             <ul>
              Wymyślone przez Ciebie hasło, którym będziesz logował się do serwisu i będzie łatwe dla Ciebie do zapamiętania.

             </ul>
             <ul>
             Musisz jeszcze raz napisać wymyślone przez Ciebie hasło aby sprawdzić samego siebie, czy pamiętasz je.

             </ul>
        Po poprawnej rejestracji jesteś automatycznie zalogowany w serwisie Your Bunch.
        <br>     <br>

        <b><u> Zaloguj się</u>  </b>
        <br>
        Ady zamkniesz przeglądarkę, i otworzysz ją ponownie nie zostaniesz wylogowany. Dlatego pamiętaj aby wylogować się ze swojego konta, gdy chcesz zachować prywatność. Po wylogowaniu aby znowu móc korzystać z serwisu należy ponownie się zalogować podając:
        <br>
        <ul>
        Twój adres e-mail oraz
        </ul>
        <ul>
        hasło,
        </ul>
        które użyło się podczas rejestracji.






        <br><br><br><br>
           Jeśli masz większe problemy skontaktuj się z autorem serwisu
           <%= link_to "Your Bunch", kontakt_path %>.




  </p>
