<% provide(:title, 'Pomoc') %>

<h1>Pomoc</h1>
  <p>
     <b>
          <br>
           Jeśli masz problemy z obsługą serwisu Your Bunch znajdź dotyczący Cię temat:
          <br><br>

          <u> Zarejestruj się!</u>  </b>
          <br>
       Aby rozpocząć korzystanie z serwisu Your Bunch należy się zarejestrować podając:
       <br>
             <ul>
                Imię i nazwisko
             </ul>
             <ul>
             Twój aktualny adres e-mail, z którego korzystasz. Nie wysyłamy na Twój adres spamu
             </ul>
             <ul>
              Wymyślone przez Ciebie hasło, którym będziesz logował się do serwisu i będzie łatwe dla Ciebie do zapamiętania.

             </ul>
             <ul>
             Musisz jeszcze raz napisać wymyślone przez Ciebie hasło aby sprawdzić samego siebie, czy pamiętasz je.

             </ul>
        Po poprawnej rejestracji jesteś automatycznie zalogowany w serwisie Your Bunch.
        <br>     <br>

        <b><u> Zaloguj się</u>  </b>
        <br>
        Ady zamkniesz przeglądarkę, i otworzysz ją ponownie nie zostaniesz wylogowany. Dlatego pamiętaj aby wylogować się ze swojego konta, gdy chcesz zachować prywatność. Po wylogowaniu aby znowu móc korzystać z serwisu należy ponownie się zalogować podając:
        <br>
        <ul>
        Twój adres e-mail oraz
        </ul>
        <ul>
        hasło,
        </ul>
        które użyło się podczas rejestracji.

         <br>

         <br>
Każdy zalogowany użytkownik może w ustawieniach swojego konta zmienić swoje imię i nazwisko, adres e-mail oraz podać nowe hasło umożliwiające logowanie do serwisu.
  <br><br>
Każda zalogowana osoba ma możliwość prowadzania bloga na prywatnych profilach, który może być obserwowany przez innych użytkowników. Obserwatorzy wiadomości innych użytkowników mogą sami również prowadzić swój blog. Wiadomości są w formie tekstu do 140 znaków aby zmusić użytkownika do streszczenia swoich wypowiedzi, aby były zwięzłe i treściwe, a potencjalny czytelnik szybko przyswoił sobie nową informację.

 <br> <br>

Serwis Your Bunch wykorzystuję popularne technologie takie jak:   <br><br>
<ul>
Ruby on Rails,
  </ul>
  <ul>
HTML 5 (HyperText Markup Language),
    </ul>
    <ul>
CSS 3 (Cascading Style Sheets),
      </ul>
      <ul>
AJAX (Asynchronous JavaScript and XML),
</ul>
które umożliwiają wyświetlanie i korzystanie z serwisu na większości urządzaniach mających przeglądarki internetowe takie jak:
                    <br><br>
<ul>
Z silnikiem Trident;
  </ul> <ul>
Internet Explorer,</ul>  <ul>
Z silnikiem Gecko;  </ul><ul>
Camino dla Mac OS X,   </ul> <ul>
Mozilla Firefox,</ul> <ul>
Z silnikiem KHTML/WebKit; </ul>  <ul>
Google Chrome,    </ul> <ul>
Safari (WebCore),  </ul><ul>
Inne;      </ul>  <ul>
Opera,   </ul> <ul>
Przeglądarki mobilne;</ul> <ul>
NetFront, </ul> <ul>
Nokia Seria 60,   </ul><ul>
Obigo,     </ul> <ul>
Openwave,  </ul> <ul>
Opera,    </ul><ul>
Pocket Internet Explorer.  </ul>
  <br> <br>

Napisany serwis został przetestowany i działał prawidłowo na: <br><br><ul>
komputerach klasy PC z system operacyjnym Windows, Mac OS, Linux,
tabletach </ul><ul>oraz smartfonach z systemem Android i Windows Phone.</ul>



<br><br><br><br>  <b>
           Jeśli masz większe problemy skontaktuj się z autorem serwisu
           <%= link_to "Your Bunch", kontakt_path %>. </b>




  </p>
