<footer class="footer">
  <small>
    <a href="http://www.put.poznan.pl/">Politechnika Poznańska</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas", onas_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
    </ul>
  </nav>
</footer>